## Inicio de todo programador!

In [6]:
print('Hello, World!')

Hello, World!

## Prototipagem simples

In [5]:
print('Calculadora de Juros:')

investimento = float(input('Investimento Inicial ? '))
taxa_juros = float(input('Taxa de Juros ? '))
anos = int(input('Duração (numero de anos) ? '))

total = (investimento * pow(1 + (taxa_juros/100), anos))
juros = total - investimento
print('\nJuros = %0.2f' % juros)

Calculadora de Juros:
Investimento Inicial ? 5000
Taxa de Juros ? 10
Duração (numero de anos) ? 10

Juros = 7968.71

## Manipular XLSX

In [8]:
from openpyxl import Workbook
wb = Workbook()

# grab the active worksheet
ws = wb.active

# Data can be assigned directly to cells
ws['A1'] = 42

# Rows can also be appended
ws.append([1, 2, 3])

# Python types will automatically be converted
import datetime
ws['A2'] = datetime.datetime.now()

# Save the file
wb.save("sample.xlsx")

In [80]:
from openpyxl import load_workbook

In [82]:
wb2 = load_workbook('SAV.xlsx')

Wall time: 0 ns

In [83]:
%time
ws = wb2.worksheets[0]
for row in ws.iter_rows():
    print([row[col].value if row[col].value else '' for col in range(10)])

Wall time: 0 ns
['Relatório do Coordenador - Avaliação Acadêmica', '', '', '', '', '', '', '', '', '']
['Classificação                                                                                           |                                                       Notas TRI', '', '', '', '', '', '', '', '', '']
['Escola', 'Nacional', 'Aluno', 'Turno', 'Turma', 'LCT', 'CHT', 'CNT', 'MT', 'Média']
['1º', '2º', 'ISAAC CAMILO GONZAGA', 'M', 'D', 796.05, 837.21, 918.38, 947.91, 874.89]
['2º', '10º', 'FELIPE SANCHEZ OTERO SANTOS', 'M', 'E', 749.73, 837.21, 891.79, 831.11, 827.46]
['3º', '19º', 'GUSTAVO DANTAS NUNES', 'M', 'E', 732.77, 806.0, 873.07, 825.21, 809.26]
['4º', '26º', 'AMANDA HELENA ALMEIDA MENESES', 'M', 'E', 746.8, 867.31, 854.56, 732.54, 800.3]
['5º', '30º', 'JOÃO GABRIEL DOS SANTOS OLIVEIRA', 'M', 'B', 686.73, 867.31, 818.99, 789.75, 790.7]
['6º', '32º', 'SAMARA EMANUELLE XAVIER DE OLIVEIRA', 'M', 'B', 688.23, 803.69, 826.61, 833.98, 788.13]
['7º', '33º', 'ARTUR FERREIRA DANTAS', 'M', 'E', 706.07, 832.47, 787.16, 822.31, 787.0]
['8º', '50º', 'GABRIELLA LUCAS DE ASSIS', 'M', 'E', 688.5, 804.14, 784.11, 814.97, 772.93]
['9º', '63º', 'MATEUS BOSON MOTA', 'M', 'C', 624.69, 751.22, 779.12, 891.97, 761.75]
['10º', '93º', 'RENATA BARRETO VASCONCELOS', 'M', 'D', 707.98, 796.34, 780.06, 718.33, 750.68]
['11º', '94º', 'ALICE CAROLINE ALVES DA SILVA', 'M', 'B', 796.05, 666.06, 765.59, 774.85, 750.64]
['12º', '97º', 'JOÃO GABRIEL FERREIRA CARDOSO', 'M', 'E', 734.42, 689.25, 775.94, 801.93, 750.38]
['13º', '98º', 'BERNARDO BARBOSA AZEVEDO BISPO', 'M', 'D', 731.95, 794.2, 752.75, 722.25, 750.29]
['14º', '99º', 'JEFFERSON FONSECA DE ANDRADE', 'M', 'D', 671.07, 837.21, 752.39, 739.45, 750.03]
['15º', '109º', 'ANA JÚLIA SIQUEIRA GUIMARÃES', 'M', 'B', 791.49, 692.15, 765.06, 733.8, 745.62]
['16º', '130º', 'FERNANDO BARROS MARTINS JUNIOR', 'M', 'B', 631.87, 715.49, 730.77, 873.06, 737.8]
['17º', '135º', 'CECILIA ALVES MECENAS', 'M', 'C', 672.21, 737.05, 736.06, 795.7, 735.25]
['18º', '138º', 'CAIO DA SILVA FERREIRA', 'M', 'B', 722.32, 697.21, 751.65, 764.81, 734.0]
['19º', '148º', 'IGOR CRUZ RESENDE', 'M', 'D', 690.27, 748.22, 752.92, 731.73, 730.78]
['20º', '152º', "LETÍCIA OLIVEIRA DE SANT' ANNA", 'M', 'E', 743.59, 765.65, 661.27, 748.27, 729.7]
['21º', '153º', 'LAURA BEATRIZ RAMALHO FARO', 'M', 'B', 718.81, 547.21, 758.98, 893.46, 729.62]
['22º', '166º', 'SIANE SILVA CESAR', 'M', 'E', 712.53, 718.23, 736.38, 742.23, 727.34]
['23º', '188º', 'DANIELA MENDES SOARES', 'M', 'B', 649.57, 704.41, 752.95, 780.91, 721.96]
['24º', '235º', 'GUSTAVO SOUSA MOTA', 'M', 'E', 691.63, 725.66, 732.38, 701.25, 712.73]
['25º', '278º', 'GABRIEL SOUZA LIMA', 'M', 'B', 641.23, 685.9, 746.12, 749.77, 705.76]
['26º', '309º', 'AERTON MENEZES SILVA NETO', 'M', 'A', 694.44, 616.85, 704.67, 789.75, 701.43]
['27º', '327º', 'YASMIN NAGLIATI VASCONCELOS MATINS', 'M', 'B', 611.26, 741.41, 704.01, 735.01, 697.92]
['28º', '361º', 'PEDRO HENRIQUE MACHADO DE FARIAS SANTOS', 'M', 'E', 602.69, 680.16, 740.03, 750.38, 693.32]
['29º', '396º', 'CAIO SOUZA RANGEL', 'M', 'A', 635.37, 654.13, 710.87, 761.67, 690.51]
['30º', '434º', 'BEATRIZ CABIRTA QUARANTA GARCEZ', 'M', 'C', 692.25, 609.92, 713.38, 731.0, 686.64]
['31º', '468º', 'EDUARDO MORAES GUIMARÃES', 'M', 'E', 703.2, 657.97, 652.27, 716.12, 682.39]
['32º', '532º', 'RAFAEL VASCONCELOS DE ANDRADE', 'M', 'B', 618.62, 691.55, 667.56, 722.54, 675.07]
['33º', '565º', 'BRUNO RAFAEL CARVALHO RIBEIRO', 'M', 'B', 558.59, 806.99, 658.36, 665.66, 672.4]
['34º', '725º', 'JÚLIA CUNHA OLIVEIRA', 'M', 'C', 734.46, 638.37, 579.92, 682.44, 658.8]
['35º', '730º', 'JOÃO ROSA CONCEIÇÃO', 'M', 'B', 670.23, 672.88, 678.95, 612.2, 658.56]
['36º', '750º', 'JUANNI GABRIELLE ANDRADE ALVES', 'M', 'E', 628.82, 692.58, 630.29, 677.16, 657.21]
['37º', '796º', 'MARIANA ALVES NOU', 'M', 'C', 658.0, 658.94, 504.88, 793.24, 653.77]
['38º', '826º', 'VICTOR GABRIEL COSTA MACHADO TELES', 'M', 'B', 638.27, 677.95, 608.88, 679.46, 651.14]
['39º', '870º', 'ANA FLAVIA FARO PASSOS', 'M', 'C', 623.78, 781.62, 505.38, 684.82, 648.9]
['40º', '886º', 'JOÃO PEDRO RODRIGUES PINTO', 'M', 'B', 669.55, 669.67, 656.4, 595.72, 647.84]
['41º', '889º', 'HENRIQUE DARIO CHECCUCCI CARBALLAL', 'M', 'A', 607.37, 606.15, 640.04, 735.61, 647.29]
['42º', '893º', 'LARA LETÍCIA TAVARES MELO ANDRADE', 'M', 'E', 726.37, 527.93, 605.04, 728.45, 646.95]
['43º', '904º', 'ROBERTA PÉTERLE BEZERRA', 'M', 'B', 592.92, 683.49, 698.07, 610.69, 646.29]
['44º', '914º', 'ANA JÚLIA FELIX CORREIA', 'M', 'B', 605.6, 676.26, 684.04, 618.14, 646.01]
['45º', '929º', 'JOSÉ DAVI GUILHERMINO ANDRADE LEAL', 'M', 'E', 607.67, 642.25, 637.13, 692.64, 644.92]
['46º', '936º', 'GABRIELA CUNHA FONSECA', 'M', 'B', 615.76, 646.37, 590.46, 725.69, 644.57]
['47º', '966º', 'MARIA JÚLIA MORAES DOS SANTOS', 'M', 'B', 608.09, 620.99, 672.1, 670.84, 643.0]
['48º', '1022º', 'ARTUR FIGUEIREDO PORTUGAL FREITAS', 'M', 'A', 603.79, 648.4, 616.83, 690.52, 639.88]
['49º', '1054º', 'JÚLIA BARBOSA DE MELO MENDONÇA', 'M', 'D', 570.04, 679.13, 661.58, 641.37, 638.03]
['50º', '1061º', 'ANTONIO TAVARES MACHADO TOJAL', 'M', 'A', 592.01, 596.3, 649.04, 712.3, 637.41]
['51º', '1091º', 'RAFAEL SILVA ALBUQUERQUE', 'M', 'A', 651.32, 601.53, 551.14, 740.38, 636.09]
['52º', '1133º', 'GABRIEL BATISTA BARBOSA', 'M', 'B', 540.72, 728.84, 617.51, 647.25, 633.58]
['53º', '1158º', 'DANIELLE BOMFIM PINHEIRO DE MENESES', 'M', 'C', 601.19, 561.24, 643.93, 722.58, 632.24]
['54º', '1171º', 'MARIA BORGES DA COSTA', 'M', 'A', 624.31, 688.33, 542.89, 670.89, 631.6]
['55º', '1184º', 'JOÃO GABRIEL MENEZES', 'M', 'D', 653.21, 689.79, 549.55, 631.28, 630.96]
['56º', '1197º', 'LETICIA MARIA VIEIRA LYRA', 'M', 'A', 651.84, 637.98, 610.91, 620.49, 630.31]
['57º', '1228º', 'RODRIGO MOURA E SILVA', 'M', 'B', 687.99, 489.15, 663.2, 673.49, 628.46]
['58º', '1252º', 'RODRIGO LUIZ DE JESUS NUNES', 'M', 'D', 447.36, 663.96, 679.42, 719.15, 627.47]
['59º', '1254º', 'LETÍCIA DA ROCHA MURICY SOUZA', 'M', 'E', 707.71, 651.29, 516.7, 633.96, 627.42]
['60º', '1268º', 'ENZO WAYNE ALVES MESSMORE COELHO', 'M', 'A', 657.23, 679.87, 594.0, 577.14, 627.06]
['61º', '1270º', 'VICTOR SANTOS MENESES', 'M', 'C', 642.47, 636.3, 628.08, 601.17, 627.0]
['62º', '1274º', 'JÚLIA VIANA PARAIZO', 'M', 'A', 680.05, 492.65, 585.23, 749.22, 626.79]
['63º', '1282º', 'LUCCA MOURA FERREIRA MARTINS', 'M', 'B', 621.99, 770.93, 540.45, 572.44, 626.45]
['64º', '1284º', 'BEATRIZ DEL GAUDIO CARVALHO', 'M', 'C', 558.24, 645.93, 702.78, 598.42, 626.34]
['65º', '1345º', 'VITÓRIA LOPES MONTEIRO DE CASTRO', 'M', 'E', 588.2, 568.55, 604.35, 731.46, 623.14]
['66º', '1352º', 'MARIA VITÓRIA SAKAMOTO DE MORAES RÊGO', 'M', 'B', 661.02, 712.52, 513.41, 603.83, 622.69]
['67º', '1354º', 'VICTOR MOTA TEIXEIRA', 'M', 'D', 594.74, 651.91, 610.47, 633.27, 622.6]
['68º', '1438º', 'KETTYLIN ALVES', 'M', 'E', 624.08, 584.4, 647.27, 615.05, 617.7]
['69º', '1501º', 'JOÃO GABRIEL SOUSA MOTA', 'M', 'E', 533.2, 704.94, 612.87, 610.57, 615.4]
['70º', '1518º', 'LUCAS FABRICIO DA SILVA SANTOS', 'M', 'D', 586.7, 626.77, 596.55, 648.57, 614.65]
['71º', '1519º', 'RONALDO CALUMBY BARRETTO NETO', 'M', 'D', 649.59, 717.3, 440.8, 650.78, 614.62]
['72º', '1521º', 'MARIA LUIZA SALGADO MENEZES', 'M', 'C', 564.21, 615.78, 688.14, 590.14, 614.57]
['73º', '1553º', 'JULIA CARVALHO BATISTA DO ROSARIO', 'M', 'D', 500.42, 725.44, 585.92, 640.24, 613.01]
['74º', '1659º', 'MARIANA ALMEIDA GOMES DE AZEVEDO', 'M', 'A', 548.79, 646.75, 595.09, 641.74, 608.09]
['75º', '1694º', 'FELIPE AUGUSTO GONÇALVES COSTA JOIA', 'M', 'B', 603.06, 472.09, 610.13, 739.35, 606.16]
['76º', '1721º', 'EMILLE KARINE SOUZA PEREIRA', 'M', 'B', 607.04, 578.16, 676.49, 559.23, 605.23]
['77º', '1763º', 'ANA CAROLINA TELES LINHARES', 'M', 'E', 629.6, 605.39, 578.5, 598.58, 603.02]
['78º', '1775º', 'DANILLO TELES BATISTA', 'M', 'A', 630.28, 573.16, 587.23, 619.7, 602.59]
['79º', '1778º', 'ANTHONY MENDES DA SILVA', 'M', 'C', 577.35, 613.93, 607.83, 610.92, 602.51]
['80º', '1801º', 'BEATRIZ SANTOS MENDONÇA', 'M', 'E', 592.61, 661.41, 544.46, 607.29, 601.44]
['81º', '1837º', 'YAN VICTOR MELO ARAGÃO', 'M', 'D', 586.47, 570.28, 666.57, 577.15, 600.12]
['82º', '1951º', 'LUCCA COSTA LEANDRO', 'M', 'B', 504.14, 600.21, 667.81, 613.18, 596.33]
['83º', '1958º', 'BEATRIZ SILVA SOUZA BEZERRA', 'M', 'C', 667.28, 634.56, 572.08, 510.28, 596.05]
['84º', '1966º', 'LENIO MACÊDO DE MOURA MORAIS', 'M', 'A', 581.86, 619.02, 484.45, 698.37, 595.93]
['85º', '2000º', 'GABRIELLA DANTAS MENEZES', 'M', 'A', 619.72, 564.48, 602.61, 589.78, 594.15]
['86º', '2104º', 'MALU DE LIMA CARDIM', 'M', 'C', 516.52, 562.19, 588.79, 690.93, 589.61]
['87º', '2113º', 'PEDRO HENRIQUE ASENCIO RIBEIRO', 'M', 'A', 592.81, 484.13, 626.31, 653.92, 589.29]
['88º', '2139º', 'ZENON SANTANA JÚNIOR', 'M', 'D', 413.69, 527.98, 586.65, 823.57, 587.97]
['89º', '2140º', 'JOÃO ANTÔNIO SANTOS VIEIRA', 'M', 'A', 554.57, 573.79, 557.31, 665.86, 587.88]
['90º', '2171º', 'SOFIA PITTA COSTA', 'M', 'A', 654.8, 624.21, 539.13, 529.44, 586.9]
['91º', '2219º', 'RAFAEL ALMEIDA DIAS ALVES', 'M', 'E', 547.88, 755.53, 566.7, 471.69, 585.45]
['92º', '2356º', 'FERNANDA LEITÃO NUNES', 'M', 'B', 519.59, 591.39, 561.94, 649.6, 580.63]
['93º', '2430º', 'LUANA ALVES SANCHEZ', 'M', 'D', 555.39, 623.79, 406.09, 727.55, 578.2]
['94º', '2472º', 'JOÃO VICTOR MANSUR SANTIAGO DE ARAUJO CAVALCANTE', 'M', 'A', 556.11, 484.79, 628.68, 637.81, 576.85]
['95º', '2540º', 'PEDRO REZENDE PRADO NUNES', 'M', 'D', 590.37, 619.34, 555.56, 532.75, 574.5]
['96º', '2598º', 'MARIANA MENEZES ROLLEMBERG GARCEZ', 'M', 'E', 621.61, 578.5, 455.58, 636.08, 572.94]
['97º', '2715º', 'JULIA GONÇALVES MIRANDA', 'M', 'A', 556.03, 594.41, 522.88, 603.6, 569.23]
['98º', '2775º', 'MARIA EDUARDA FONTES DA FONSECA', 'M', 'C', 602.12, 552.61, 587.7, 527.89, 567.58]
['99º', '2812º', 'RAFAELA BAPTISTA DE ALMEIDA BASTOS', 'M', 'D', 529.43, 637.01, 636.34, 463.25, 566.51]
['100º', '2820º', 'JOÃO ANTONIO OLIVEIRA DE SOUZA', 'M', 'A', 581.29, 609.23, 515.85, 558.72, 566.27]
['101º', '2841º', 'EDUARDO CARVALHO PEREIRA LIMA', 'M', 'E', 521.07, 567.56, 482.41, 691.45, 565.62]
['102º', '2965º', 'ALINE CASTRO MENESES', 'M', 'D', 536.45, 562.18, 520.7, 626.61, 561.48]
['103º', '3012º', 'CLÁUDIA NUNES DE MENEZES SANTA ROZA', 'M', 'B', 585.57, 672.14, 560.71, 423.23, 560.41]
['104º', '3052º', 'MARINA ARAUJO BARRETO', 'M', 'A', 532.16, 535.92, 602.61, 566.92, 559.4]
['105º', '3082º', 'ANA TERESA DOS ANJOS NOBRE', 'M', 'D', 577.02, 525.27, 480.92, 651.16, 558.59]
['106º', '3152º', 'JULIA SOUSA SILVA GARCIA', 'M', 'E', 456.42, 548.32, 545.19, 674.96, 556.22]
['107º', '3166º', 'GISELE MARIA NUNES SILVA', 'M', 'B', 625.17, 618.58, 564.65, 414.68, 555.77]
['108º', '3221º', 'ISADORA MILLEN MENDES', 'M', 'C', 536.25, 534.12, 531.19, 615.64, 554.3]
['109º', '3351º', 'GRACE KELLY ANDRADE DE SOUZA', 'M', 'A', 596.86, 610.89, 488.1, 508.06, 550.98]
['110º', '3448º', 'MARIA ESTER FONTES MELO', 'M', 'C', 603.9, 567.33, 494.87, 528.1, 548.55]
['111º', '3578º', 'JOÃO BOSCO DA COSTA FILHO', 'M', 'A', 512.88, 550.04, 532.71, 583.34, 544.74]
['112º', '3610º', 'LUÍS FELIPE ARAGÃO SOUZA', 'M', 'C', 596.92, 519.65, 562.52, 495.26, 543.59]
['113º', '3654º', 'GUSTAVO OLIVEIRA LIMA', 'M', 'A', 557.84, 568.03, 509.76, 535.05, 542.67]
['114º', '3674º', 'ANA CAROLINE SANTOS ANDRADE', 'M', 'D', 608.41, 597.2, 442.35, 520.32, 542.07]
['115º', '3720º', 'SÔNIA BEATRIZ MITIDIERI HUFF', 'M', 'C', 469.88, 478.75, 543.26, 671.93, 540.95]
['116º', '3766º', 'GUILHERME COSTA SOUZA', 'M', 'E', 429.4, 487.3, 554.0, 688.51, 539.8]
['117º', '3831º', 'JULIANA MARQUES DO VALE', 'M', 'D', 464.44, 642.25, 457.0, 587.17, 537.72]
['118º', '3971º', 'ROBERTO ANDRADE MACHADO FILHO', 'M', 'E', 509.11, 570.03, 433.52, 624.53, 534.3]
['119º', '4010º', 'LUCAS TEIXEIRA BARBOSA', 'M', 'C', 538.82, 496.68, 532.78, 565.8, 533.52]
['120º', '4087º', 'BARBARA BARBOSA MOURA DE OLIVEIRA', 'M', 'E', 661.83, 550.49, 418.53, 495.63, 531.62]
['121º', '4220º', 'LIS VILAS BOAS LEAL DE ALMEIDA', 'M', 'B', 543.98, 589.9, 394.71, 584.57, 528.29]
['122º', '4222º', 'MARIA EDUARDA FONSECA DE MELO', 'M', 'D', 549.83, 614.21, 452.45, 496.5, 528.25]
['123º', '4266º', 'VINICIUS MOTA BIONE', 'M', 'E', 507.68, 539.38, 490.26, 571.25, 527.14]
['124º', '4302º', 'LAVÍNIA SANTOS LINS', 'M', 'A', 524.25, 523.03, 544.39, 512.34, 526.0]
['125º', '4333º', 'JÚLIA BEATRIZ ARAÚJO DE OLIVEIRA', 'M', 'E', 563.88, 582.29, 488.86, 466.24, 525.32]
['126º', '4350º', 'MANUELA GUERRA ABDIES', 'M', 'C', 574.76, 598.8, 392.72, 533.19, 524.87]
['127º', '4409º', 'GISELE THOMY DE MELO', 'M', 'D', 544.13, 565.87, 547.94, 436.36, 523.58]
['128º', '4496º', 'MARINA NASCIMENTO TRINDADE', 'M', 'D', 533.31, 591.83, 421.98, 539.83, 521.74]
['129º', '4517º', 'JOSÉ EDGARD DA MOTA FREITAS NETO', 'M', 'B', 636.45, 500.1, 435.8, 512.58, 521.23]
['130º', '4644º', 'MARCELA MENESES SILVA OLIVEIRA', 'M', 'C', 595.13, 517.7, 474.29, 486.0, 518.28]
['131º', '4696º', 'LETÍCIA DE OLIVEIRA SÃO MATEUS', 'M', 'C', 567.06, 559.74, 435.22, 506.47, 517.12]
['132º', '4719º', 'ANNE BEATRIZ NUNES SILVA', 'M', 'E', 512.97, 539.69, 431.07, 583.52, 516.81]
['133º', '4777º', 'CARLOS EDUARDO RODRIGUES OLIVEIRA', 'M', 'E', 566.85, 363.01, 517.4, 614.85, 515.53]
['134º', '4988º', 'SOFIA APOLONIO REIS DE ALBUQUERQUE', 'M', 'E', 514.17, 611.37, 450.62, 467.57, 510.93]
['135º', '5089º', 'ISADORA ARAUJO DUARTE DE ALMEIDA', 'M', 'C', 405.24, 573.25, 558.29, 499.91, 509.17]
['136º', '5103º', 'LUCAS JORDAO DOS SANTOS', 'M', 'C', 489.3, 585.6, 445.77, 514.58, 508.81]
['137º', '5138º', 'THAYNARA LUIZA DE MELO FERNANDES MENEZES', 'M', 'D', 476.56, 543.9, 532.2, 479.49, 508.04]
['138º', '5300º', 'MATHEUS TOMMAZO DE OLIVEIRA LASALVIA', 'M', 'A', 466.27, 565.0, 549.09, 437.46, 504.46]
['139º', '5315º', 'RAQUEL SOUZA SANTOS NASCIMENTO', 'M', 'C', 549.33, 535.26, 469.85, 462.18, 504.16]
['140º', '5560º', 'GILBERTO ANTUNES CARVALHO LEITE', 'M', 'C', 559.04, 638.13, 438.13, 359.34, 498.66]
['141º', '5637º', 'MARIA EDUARDA TELES SALES', 'M', 'B', 479.25, 609.21, 476.27, 424.51, 497.31]
['142º', '6154º', 'GIOVANNA RODRIGUES ARIMATEA', 'M', 'A', 391.36, 576.2, 483.49, 498.4, 487.36]
['143º', '6706º', 'ANA BEATRIZ DARNEL LOPES BONFIM', 'M', 'B', 476.56, 550.34, 413.74, 464.27, 476.23]
['144º', '6716º', 'MARIANA LEMOS SIMÕES', 'M', 'E', 501.84, 494.96, 528.83, 378.84, 476.12]
['145º', '6803º', 'MARIA LUIZA BARROS MACIEL', 'M', 'E', 489.82, 537.76, 393.12, 476.83, 474.38]
['146º', '6813º', 'LUCAS ANDRADE DE OLIVEIRA', 'M', 'C', 533.68, 518.8, 450.9, 393.41, 474.2]
['147º', '6884º', 'GABRIEL RAMOS MARQUES', 'M', 'C', 516.57, 496.91, 425.17, 453.43, 473.02]
['148º', '7009º', 'LUAN BATISTA DE ANDRADE', 'M', 'D', 535.34, 506.05, 399.94, 441.67, 470.75]
['149º', '7041º', 'Maria da Conceição Costa Gomes', 'M', 'D', 366.19, 509.34, 594.56, 410.24, 470.08]
['150º', '7406º', 'MAURÍCIO SÁVIO LEAL CARVALHO', 'M', 'B', 522.43, 471.37, 464.04, 397.34, 463.79]
['151º', '7469º', 'MARINA DAVILA MELO BRUGNI', 'M', 'D', 525.31, 482.77, 406.06, 436.19, 462.58]
['152º', '7510º', 'LETÍCIA ALMEIDA DANTAS', 'M', 'E', 431.54, 514.15, 434.92, 467.47, 462.02]
['153º', '7925º', 'LARISSA LORENA SANTOS OLIVEIRA', 'M', 'E', 379.91, 561.6, 501.71, 373.74, 454.24]
['154º', '8254º', 'VALDEMIRO BATISTA DOS SANTOS NETO', 'M', 'A', 458.01, 459.91, 537.07, 340.61, 448.9]
['155º', '8320º', 'NATÁLIA CARVALHO ARAGÃO', 'M', 'A', 544.15, 464.13, 407.67, 374.06, 447.5]
['156º', '8642º', 'AFONSO LUIS SOUZA OLIVEIRA', 'M', 'C', 476.76, 538.22, 435.86, 316.21, 441.76]
['157º', '9393º', 'MATHEUS CORREIA HORA BRANDÃO', 'M', 'A', 473.88, 343.67, 386.96, 508.11, 428.16]
['158º', '9456º', 'LAURA DELLE VEDOVE LEVITA', 'M', 'A', 438.66, 391.76, 497.76, 380.28, 427.12]
['159º', '9837º', 'MARCELO LIMA DIAS FILHO', 'M', 'C', 435.3, 456.57, 334.78, 454.53, 420.3]
['160º', '11117º', 'LARISSA LIMA SALES', 'M', 'D', 438.69, 372.67, 376.5, 392.13, 395.0]
['161º', '11537º', 'ARTUR KOSZMA DE SOUZA BISNETO', 'M', 'A', 477.33, 260.11, 444.46, 357.04, 384.74]

## Usando Pandas

In [53]:
import pandas as pd

In [79]:
sav_excel = pd.read_excel('SAV.xlsx')

Wall time: 0 ns

In [78]:
sav_excel

Wall time: 0 ns

,Relatório do Coordenador - Avaliação Acadêmica,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Classificação ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Escola,Nacional,Aluno,Turno,Turma,LCT,CHT,CNT,MT,Média
2,1º,2º,ISAAC CAMILO GONZAGA,M,D,796.05,837.21,918.38,947.91,874.89
3,2º,10º,FELIPE SANCHEZ OTERO SANTOS,M,E,749.73,837.21,891.79,831.11,827.46
4,3º,19º,GUSTAVO DANTAS NUNES,M,E,732.77,806,873.07,825.21,809.26
5,4º,26º,AMANDA HELENA ALMEIDA MENESES,M,E,746.8,867.31,854.56,732.54,800.3
6,5º,30º,JOÃO GABRIEL DOS SANTOS OLIVEIRA,M,B,686.73,867.31,818.99,789.75,790.7
7,6º,32º,SAMARA EMANUELLE XAVIER DE OLIVEIRA,M,B,688.23,803.69,826.61,833.98,788.13
8,7º,33º,ARTUR FERREIRA DANTAS,M,E,706.07,832.47,787.16,822.31,787
9,8º,50º,GABRIELLA LUCAS DE ASSIS,M,E,688.5,804.14,784.11,814.97,772.93
10,9º,63º,MATEUS BOSON MOTA,M,C,624.69,751.22,779.12,891.97,761.75
11,10º,93º,RENATA BARRETO VASCONCELOS,M,D,707.98,796.34,780.06,718.33,750.68
12,11º,94º,ALICE CAROLINE ALVES DA SILVA,M,B,796.05,666.06,765.59,774.85,750.64
13,12º,97º,JOÃO GABRIEL FERREIRA CARDOSO,M,E,734.42,689.25,775.94,801.93,750.38
14,13º,98º,BERNARDO BARBOSA AZEVEDO BISPO,M,D,731.95,794.2,752.75,722.25,750.29
15,14º,99º,JEFFERSON FONSECA DE ANDRADE,M,D,671.07,837.21,752.39,739.45,750.03
16,15º,109º,ANA JÚLIA SIQUEIRA GUIMARÃES,M,B,791.49,692.15,765.06,733.8,745.62
17,16º,130º,FERNANDO BARROS MARTINS JUNIOR,M,B,631.87,715.49,730.77,873.06,737.8
18,17º,135º,CECILIA ALVES MECENAS,M,C,672.21,737.05,736.06,795.7,735.25
19,18º,138º,CAIO DA SILVA FERREIRA,M,B,722.32,697.21,751.65,764.81,734
20,19º,148º,IGOR CRUZ RESENDE,M,D,690.27,748.22,752.92,731.73,730.78
21,20º,152º,LETÍCIA OLIVEIRA DE SANT' ANNA,M,E,743.59,765.65,661.27,748.27,729.7
22,21º,153º,LAURA BEATRIZ RAMALHO FARO,M,B,718.81,547.21,758.98,893.46,729.62
23,22º,166º,SIANE SILVA CESAR,M,E,712.53,718.23,736.38,742.23,727.34
24,23º,188º,DANIELA MENDES SOARES,M,B,649.57,704.41,752.95,780.91,721.96
25,24º,235º,GUSTAVO SOUSA MOTA,M,E,691.63,725.66,732.38,701.25,712.73
26,25º,278º,GABRIEL SOUZA LIMA,M,B,641.23,685.9,746.12,749.77,705.76
27,26º,309º,AERTON MENEZES SILVA NETO,M,A,694.44,616.85,704.67,789.75,701.43
28,27º,327º,YASMIN NAGLIATI VASCONCELOS MATINS,M,B,611.26,741.41,704.01,735.01,697.92
29,28º,361º,PEDRO HENRIQUE MACHADO DE FARIAS SANTOS,M,E,602.69,680.16,740.03,750.38,693.32
...,...,...,...,...,...,...,...,...,...,...
133,132º,4719º,ANNE BEATRIZ NUNES SILVA,M,E,512.97,539.69,431.07,583.52,516.81
134,133º,4777º,CARLOS EDUARDO RODRIGUES OLIVEIRA,M,E,566.85,363.01,517.4,614.85,515.53
135,134º,4988º,SOFIA APOLONIO REIS DE ALBUQUERQUE,M,E,514.17,611.37,450.62,467.57,510.93
136,135º,5089º,ISADORA ARAUJO DUARTE DE ALMEIDA,M,C,405.24,573.25,558.29,499.91,509.17
137,136º,5103º,LUCAS JORDAO DOS SANTOS,M,C,489.3,585.6,445.77,514.58,508.81
138,137º,5138º,THAYNARA LUIZA DE MELO FERNANDES MENEZES,M,D,476.56,543.9,532.2,479.49,508.04
139,138º,5300º,MATHEUS TOMMAZO DE OLIVEIRA LASALVIA,M,A,466.27,565,549.09,437.46,504.46
140,139º,5315º,RAQUEL SOUZA SANTOS NASCIMENTO,M,C,549.33,535.26,469.85,462.18,504.16
141,140º,5560º,GILBERTO ANTUNES CARVALHO LEITE,M,C,559.04,638.13,438.13,359.34,498.66
142,141º,5637º,MARIA EDUARDA TELES SALES,M,B,479.25,609.21,476.27,424.51,497.31
143,142º,6154º,GIOVANNA RODRIGUES ARIMATEA,M,A,391.36,576.2,483.49,498.4,487.36
144,143º,6706º,ANA BEATRIZ DARNEL LOPES BONFIM,M,B,476.56,550.34,413.74,464.27,476.23
145,144º,6716º,MARIANA LEMOS SIMÕES,M,E,501.84,494.96,528.83,378.84,476.12
146,145º,6803º,MARIA LUIZA BARROS MACIEL,M,E,489.82,537.76,393.12,476.83,474.38
147,146º,6813º,LUCAS ANDRADE DE OLIVEIRA,M,C,533.68,518.8,450.9,393.41,474.2
148,147º,6884º,GABRIEL RAMOS MARQUES,M,C,516.57,496.91,425.17,453.43,473.02
149,148º,7009º,LUAN BATISTA DE ANDRADE,M,D,535.34,506.05,399.94,441.67,470.75
150,149º,7041º,Maria da Conceição Costa Gomes,M,D,366.19,509.34,594.56,410.24,470.08
151,150º,7406º,MAURÍCIO SÁVIO LEAL CARVALHO,M,B,522.43,471.37,464.04,397.34,463.79
152,151º,7469º,MARINA DAVILA MELO BRUGNI,M,D,525.31,482.77,406.06,436.19,462.58
153,152º,7510º,LETÍCIA ALMEIDA DANTAS,M,E,431.54,514.15,434.92,467.47,462.02
154,153º,7925º,LARISSA LORENA SANTOS OLIVEIRA,M,E,379.91,561.6,501.71,373.74,454.24
155,154º,8254º,VALDEMIRO BATISTA DOS SANTOS NETO,M,A,458.01,459.91,537.07,340.61,448.9
156,155º,8320º,NATÁLIA CARVALHO ARAGÃO,M,A,544.15,464.13,407.67,374.06,447.5
157,156º,8642º,AFONSO LUIS SOUZA OLIVEIRA,M,C,476.76,538.22,435.86,316.21,441.76
158,157º,9393º,MATHEUS CORREIA HORA BRANDÃO,M,A,473.88,343.67,386.96,508.11,428.16
159,158º,9456º,LAURA DELLE VEDOVE LEVITA,M,A,438.66,391.76,497.76,380.28,427.12
160,159º,9837º,MARCELO LIMA DIAS FILHO,M,C,435.3,456.57,334.78,454.53,420.3
161,160º,11117º,LARISSA LIMA SALES,M,D,438.69,372.67,376.5,392.13,395
162,161º,11537º,ARTUR KOSZMA DE SOUZA BISNETO,M,A,477.33,260.11,444.46,357.04,384.74

In [84]:
sav_excel.head()

,Relatório do Coordenador - Avaliação Acadêmica,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Classificação ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Escola,Nacional,Aluno,Turno,Turma,LCT,CHT,CNT,MT,Média
2,1º,2º,ISAAC CAMILO GONZAGA,M,D,796.05,837.21,918.38,947.91,874.89
3,2º,10º,FELIPE SANCHEZ OTERO SANTOS,M,E,749.73,837.21,891.79,831.11,827.46
4,3º,19º,GUSTAVO DANTAS NUNES,M,E,732.77,806,873.07,825.21,809.26

In [85]:
sav_excel.tail()

,Relatório do Coordenador - Avaliação Acadêmica,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
158,157º,9393º,MATHEUS CORREIA HORA BRANDÃO,M,A,473.88,343.67,386.96,508.11,428.16
159,158º,9456º,LAURA DELLE VEDOVE LEVITA,M,A,438.66,391.76,497.76,380.28,427.12
160,159º,9837º,MARCELO LIMA DIAS FILHO,M,C,435.3,456.57,334.78,454.53,420.3
161,160º,11117º,LARISSA LIMA SALES,M,D,438.69,372.67,376.5,392.13,395
162,161º,11537º,ARTUR KOSZMA DE SOUZA BISNETO,M,A,477.33,260.11,444.46,357.04,384.74

In [86]:
sav_excel.columns

Index(['Relatório do Coordenador - Avaliação Acadêmica', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [87]:
sav_excel.columns = ['Rank_Nacional', 'Rank_Escola', 'Aluno', 'Turno', 'Turma', 'LCT', 'CHT', 'CNT', 'MT', 'Media']

In [88]:
sav_excel

,Rank_Nacional,Rank_Escola,Aluno,Turno,Turma,LCT,CHT,CNT,MT,Media
0,Classificação ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Escola,Nacional,Aluno,Turno,Turma,LCT,CHT,CNT,MT,Média
2,1º,2º,ISAAC CAMILO GONZAGA,M,D,796.05,837.21,918.38,947.91,874.89
3,2º,10º,FELIPE SANCHEZ OTERO SANTOS,M,E,749.73,837.21,891.79,831.11,827.46
4,3º,19º,GUSTAVO DANTAS NUNES,M,E,732.77,806,873.07,825.21,809.26
5,4º,26º,AMANDA HELENA ALMEIDA MENESES,M,E,746.8,867.31,854.56,732.54,800.3
6,5º,30º,JOÃO GABRIEL DOS SANTOS OLIVEIRA,M,B,686.73,867.31,818.99,789.75,790.7
7,6º,32º,SAMARA EMANUELLE XAVIER DE OLIVEIRA,M,B,688.23,803.69,826.61,833.98,788.13
8,7º,33º,ARTUR FERREIRA DANTAS,M,E,706.07,832.47,787.16,822.31,787
9,8º,50º,GABRIELLA LUCAS DE ASSIS,M,E,688.5,804.14,784.11,814.97,772.93
10,9º,63º,MATEUS BOSON MOTA,M,C,624.69,751.22,779.12,891.97,761.75
11,10º,93º,RENATA BARRETO VASCONCELOS,M,D,707.98,796.34,780.06,718.33,750.68
12,11º,94º,ALICE CAROLINE ALVES DA SILVA,M,B,796.05,666.06,765.59,774.85,750.64
13,12º,97º,JOÃO GABRIEL FERREIRA CARDOSO,M,E,734.42,689.25,775.94,801.93,750.38
14,13º,98º,BERNARDO BARBOSA AZEVEDO BISPO,M,D,731.95,794.2,752.75,722.25,750.29
15,14º,99º,JEFFERSON FONSECA DE ANDRADE,M,D,671.07,837.21,752.39,739.45,750.03
16,15º,109º,ANA JÚLIA SIQUEIRA GUIMARÃES,M,B,791.49,692.15,765.06,733.8,745.62
17,16º,130º,FERNANDO BARROS MARTINS JUNIOR,M,B,631.87,715.49,730.77,873.06,737.8
18,17º,135º,CECILIA ALVES MECENAS,M,C,672.21,737.05,736.06,795.7,735.25
19,18º,138º,CAIO DA SILVA FERREIRA,M,B,722.32,697.21,751.65,764.81,734
20,19º,148º,IGOR CRUZ RESENDE,M,D,690.27,748.22,752.92,731.73,730.78
21,20º,152º,LETÍCIA OLIVEIRA DE SANT' ANNA,M,E,743.59,765.65,661.27,748.27,729.7
22,21º,153º,LAURA BEATRIZ RAMALHO FARO,M,B,718.81,547.21,758.98,893.46,729.62
23,22º,166º,SIANE SILVA CESAR,M,E,712.53,718.23,736.38,742.23,727.34
24,23º,188º,DANIELA MENDES SOARES,M,B,649.57,704.41,752.95,780.91,721.96
25,24º,235º,GUSTAVO SOUSA MOTA,M,E,691.63,725.66,732.38,701.25,712.73
26,25º,278º,GABRIEL SOUZA LIMA,M,B,641.23,685.9,746.12,749.77,705.76
27,26º,309º,AERTON MENEZES SILVA NETO,M,A,694.44,616.85,704.67,789.75,701.43
28,27º,327º,YASMIN NAGLIATI VASCONCELOS MATINS,M,B,611.26,741.41,704.01,735.01,697.92
29,28º,361º,PEDRO HENRIQUE MACHADO DE FARIAS SANTOS,M,E,602.69,680.16,740.03,750.38,693.32
...,...,...,...,...,...,...,...,...,...,...
133,132º,4719º,ANNE BEATRIZ NUNES SILVA,M,E,512.97,539.69,431.07,583.52,516.81
134,133º,4777º,CARLOS EDUARDO RODRIGUES OLIVEIRA,M,E,566.85,363.01,517.4,614.85,515.53
135,134º,4988º,SOFIA APOLONIO REIS DE ALBUQUERQUE,M,E,514.17,611.37,450.62,467.57,510.93
136,135º,5089º,ISADORA ARAUJO DUARTE DE ALMEIDA,M,C,405.24,573.25,558.29,499.91,509.17
137,136º,5103º,LUCAS JORDAO DOS SANTOS,M,C,489.3,585.6,445.77,514.58,508.81
138,137º,5138º,THAYNARA LUIZA DE MELO FERNANDES MENEZES,M,D,476.56,543.9,532.2,479.49,508.04
139,138º,5300º,MATHEUS TOMMAZO DE OLIVEIRA LASALVIA,M,A,466.27,565,549.09,437.46,504.46
140,139º,5315º,RAQUEL SOUZA SANTOS NASCIMENTO,M,C,549.33,535.26,469.85,462.18,504.16
141,140º,5560º,GILBERTO ANTUNES CARVALHO LEITE,M,C,559.04,638.13,438.13,359.34,498.66
142,141º,5637º,MARIA EDUARDA TELES SALES,M,B,479.25,609.21,476.27,424.51,497.31
143,142º,6154º,GIOVANNA RODRIGUES ARIMATEA,M,A,391.36,576.2,483.49,498.4,487.36
144,143º,6706º,ANA BEATRIZ DARNEL LOPES BONFIM,M,B,476.56,550.34,413.74,464.27,476.23
145,144º,6716º,MARIANA LEMOS SIMÕES,M,E,501.84,494.96,528.83,378.84,476.12
146,145º,6803º,MARIA LUIZA BARROS MACIEL,M,E,489.82,537.76,393.12,476.83,474.38
147,146º,6813º,LUCAS ANDRADE DE OLIVEIRA,M,C,533.68,518.8,450.9,393.41,474.2
148,147º,6884º,GABRIEL RAMOS MARQUES,M,C,516.57,496.91,425.17,453.43,473.02
149,148º,7009º,LUAN BATISTA DE ANDRADE,M,D,535.34,506.05,399.94,441.67,470.75
150,149º,7041º,Maria da Conceição Costa Gomes,M,D,366.19,509.34,594.56,410.24,470.08
151,150º,7406º,MAURÍCIO SÁVIO LEAL CARVALHO,M,B,522.43,471.37,464.04,397.34,463.79
152,151º,7469º,MARINA DAVILA MELO BRUGNI,M,D,525.31,482.77,406.06,436.19,462.58
153,152º,7510º,LETÍCIA ALMEIDA DANTAS,M,E,431.54,514.15,434.92,467.47,462.02
154,153º,7925º,LARISSA LORENA SANTOS OLIVEIRA,M,E,379.91,561.6,501.71,373.74,454.24
155,154º,8254º,VALDEMIRO BATISTA DOS SANTOS NETO,M,A,458.01,459.91,537.07,340.61,448.9
156,155º,8320º,NATÁLIA CARVALHO ARAGÃO,M,A,544.15,464.13,407.67,374.06,447.5
157,156º,8642º,AFONSO LUIS SOUZA OLIVEIRA,M,C,476.76,538.22,435.86,316.21,441.76
158,157º,9393º,MATHEUS CORREIA HORA BRANDÃO,M,A,473.88,343.67,386.96,508.11,428.16
159,158º,9456º,LAURA DELLE VEDOVE LEVITA,M,A,438.66,391.76,497.76,380.28,427.12
160,159º,9837º,MARCELO LIMA DIAS FILHO,M,C,435.3,456.57,334.78,454.53,420.3
161,160º,11117º,LARISSA LIMA SALES,M,D,438.69,372.67,376.5,392.13,395
162,161º,11537º,ARTUR KOSZMA DE SOUZA BISNETO,M,A,477.33,260.11,444.46,357.04,384.74

In [89]:
sav_excel.index[[0,1]]

Int64Index([0, 1], dtype='int64')

In [90]:
sav_excel.drop(sav_excel.index[[0,1]], inplace=True)

In [91]:
sav_excel.head()

,Rank_Nacional,Rank_Escola,Aluno,Turno,Turma,LCT,CHT,CNT,MT,Media
2,1º,2º,ISAAC CAMILO GONZAGA,M,D,796.05,837.21,918.38,947.91,874.89
3,2º,10º,FELIPE SANCHEZ OTERO SANTOS,M,E,749.73,837.21,891.79,831.11,827.46
4,3º,19º,GUSTAVO DANTAS NUNES,M,E,732.77,806,873.07,825.21,809.26
5,4º,26º,AMANDA HELENA ALMEIDA MENESES,M,E,746.8,867.31,854.56,732.54,800.3
6,5º,30º,JOÃO GABRIEL DOS SANTOS OLIVEIRA,M,B,686.73,867.31,818.99,789.75,790.7

In [92]:
sav_excel['LCT'].mean()

587.9321739130432

In [93]:
sav_excel['LCT'].std()

88.68562197938043

In [94]:
sav_excel['LCT'].max(), sav_excel['LCT'].min()

(796.05, 366.19)

In [95]:
sav_excel['LCT'].mean(), sav_excel['LCT'].std(), sav_excel['LCT'].max(), sav_excel['LCT'].min()

(587.9321739130432, 88.68562197938043, 796.05, 366.19)