In [1]:
lista = [2, 4, 56, 4, 2342, 8, 454, 90, 0]

In [2]:
max(lista)

2342

In [3]:
min(lista)

0

In [5]:
sum(lista)

2960

In [16]:
len(lista)

9

In [18]:
sum(lista) / len(lista)

328

In [20]:
lista *= 2

In [22]:
lista

[2, 4, 56, 4, 2342, 8, 454, 90, 0, 2, 4, 56, 4, 2342, 8, 454, 90, 0]

In [24]:
texto = 'minha string'

In [25]:
texto * 3

'minha stringminha stringminha string'

In [26]:
len(texto)

12

In [28]:
texto[0]

'm'

In [42]:
texto[-3:]

'ing'

In [43]:
texto[:3]

'min'

In [44]:
texto[-53535353:]

'minha string'

In [45]:
texto[:8798798798798]

'minha string'

In [46]:
len?

In [47]:
sum?

In [48]:
for valor in range(3):
    print(valor)

0
1
2

In [49]:
for valor in range(1,3):
    print(valor)

1
2

In [50]:
for valor in range(-10, -3):
    print(valor)

-10
-9
-8
-7
-6
-5
-4

In [51]:
range?

In [52]:
for valor in range(1, 20, 3):
    print(valor)

1
4
7
10
13
16
19